<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

    
<!--============================-->
<!-- Web JSFaces File URL extension -->
<!--============================-->

   <extension-point id="fileURL" name="FileURL" schema="schema/fileURL.exsd"/>


<!--============================-->
<!-- Web Validator                   -->
<!--============================-->
   <extension
         id="WarValidator"
         name="%war_validator_UI_"
         point="org.eclipse.wst.validation.validator">
      <validator>
         <enablement>
      		<and>
        		<test property="org.eclipse.wst.common.project.facet.core.projectFacet" value="jst.web"/>
	  			<test property="org.eclipse.wst.common.project.facet.core.projectFacet" value="jst.web:2.4]"/>
			</and>
		</enablement>
          <contentTypeBinding
               contentTypeId="org.eclipse.jst.j2ee.webDD">
         </contentTypeBinding>
         <filter
               objectClass="org.eclipse.core.resources.IFile"
               nameFilter="*.jar">
         </filter>
         <filter
               objectClass="org.eclipse.core.resources.IFile"
               nameFilter=".websettings">
         </filter>
         <filter
               objectClass="org.eclipse.core.resources.IFile"
               nameFilter="org.eclipse.wst.common.component">
         </filter>
         <filter
               objectClass="org.eclipse.core.resources.IFile"
               nameFilter=".classpath">
         </filter>
         <helper
               class="org.eclipse.jst.j2ee.internal.web.validation.UIWarHelper">
         </helper>
         <dependentValidator
               depValValue="true">
         </dependentValidator>
         <run
               class="org.eclipse.jst.j2ee.internal.web.validation.UIWarValidator">
         </run>
         <runStrategy 
         	project="true">
         </runStrategy>
      </validator>
   </extension>

   <extension
         id="WebModuleExtension"
         name="WebModuleExtension"
         point="org.eclipse.jst.j2ee.EARModuleExtension">
      <earModuleExtension
            extensionClass="org.eclipse.jst.j2ee.internal.web.plugin.WebModuleExtensionImpl">
      </earModuleExtension>
   </extension>
   <extension
         point="org.eclipse.wst.common.emfworkbench.integration.adapterFactory">
      <adapterFactory
            functionGroupID="org.eclipse.jst.j2ee"
            className="org.eclipse.jst.j2ee.internal.web.providers.WebapplicationItemProviderAdapterFactory"
            packageURI="webapplication.xmi"
            id="org.eclipse.jst.j2ee.webapplication.provider.WebapplicationItemProviderAdapterFactory">
      </adapterFactory>
   </extension>
   <extension
         point="org.eclipse.wst.common.emfworkbench.integration.adapterFactory">
      <adapterFactory
            functionGroupID="org.eclipse.jst.j2ee"
            className="org.eclipse.jst.j2ee.internal.web.providers.JspItemProviderAdapterFactory"
            packageURI="jsp.xmi"
            id="org.eclipse.jst.j2ee.internal.jsp.provider.JspItemProviderAdapterFactory">
      </adapterFactory>
   </extension>

<!-- =========================================================== -->
<!--   Web Tag set definitions for XDoclet                       -->
<!-- =========================================================== -->

   <extension
         id="WebTagSets"
         point="org.eclipse.jst.common.annotations.controller.AnnotationTagSet">
      <AnnotationTagSet
            name="web">
      </AnnotationTagSet>
   </extension>
   
   <extension
         id="WebAnnotationInfo"
         point="org.eclipse.jst.common.annotations.controller.AnnotationTagInfo">
	  <AnnotationTagInfo
            tagSet="web"
            tagName="filter"
            scope="type">
         <attrib
               use="required"
               name="name">
         </attrib>
         <attrib
               name="description">
         </attrib>
         <attrib
               name="display-name">
         </attrib>
         <attrib
               name="small-icon">
         </attrib>
         <attrib
               name="large-icon">
         </attrib>
      </AnnotationTagInfo>
      <AnnotationTagInfo
            tagSet="web"
            tagName="filter-init-param"
            scope="type">
         <attrib
               use="required"
               name="name">
         </attrib>
         <attrib
               name="value">
         </attrib>
         <attrib
               name="description">
         </attrib>
      </AnnotationTagInfo>
      <AnnotationTagInfo
            tagSet="web"
            tagName="filter-mapping"
            scope="type">
         <attrib
               name="url-pattern">
         </attrib>
         <attrib
               name="servlet-name">
         </attrib>
      </AnnotationTagInfo>
      <AnnotationTagInfo
            tagSet="web"
            tagName="servlet"
            scope="type">
         <attrib
               use="required"
               name="name">
         </attrib>
         <attrib
               name="display-name">
         </attrib>
         <attrib
               name="icon">
         </attrib>
         <attrib
               name="description">
         </attrib>
         <attrib
               name="load-on-startup">
         </attrib>
         <attrib
               name="run-as">
         </attrib>
      </AnnotationTagInfo>
      <AnnotationTagInfo
            tagSet="web"
            tagName="servlet-init-param"
            multiplicity="*"
            scope="type">
         <attrib
               use="required"
               name="name">
         </attrib>
         <attrib
               name="value">
         </attrib>
         <attrib
               name="description">
         </attrib>
      </AnnotationTagInfo>
      <AnnotationTagInfo
            tagSet="web"
            tagName="servlet-mapping"
            multiplicity="*"
            scope="type">
         <attrib
               use="required"
               name="url-pattern">
         </attrib>
      </AnnotationTagInfo>
      <AnnotationTagInfo
            tagSet="web"
            tagName="listener"
            scope="type">
      </AnnotationTagInfo>
      <AnnotationTagInfo
            tagSet="web"
            tagName="security-role-ref"
            scope="type">
         <attrib
               use="required"
               name="role-name">
         </attrib>
         <attrib
               use="required"
               name="role-link">
         </attrib>
      </AnnotationTagInfo>
      <AnnotationTagInfo
            tagSet="web"
            tagName="resource-env-ref"
            scope="type">
         <attrib
               use="required"
               name="name">
         </attrib>
         <attrib
               use="required"
               name="type">
         </attrib>
         <attrib
               name="description">
         </attrib>
      </AnnotationTagInfo>
      <AnnotationTagInfo
            tagSet="web"
            tagName="resource-ref"
            scope="type">
         <attrib
               use="required"
               name="name">
         </attrib>
         <attrib
               use="required"
               name="type">
         </attrib>
         <attrib
               use="required"
               name="auth">
         </attrib>
         <attrib
               name="description">
         </attrib>
         <attrib
               name="scope">
         </attrib>
         <attrib
               name="jndi-name">
         </attrib>
      </AnnotationTagInfo>
      <AnnotationTagInfo
            tagSet="web"
            tagName="security-role"
            scope="type">
            <attrib
               use="required"
               name="role-name">
         	</attrib>
         	<attrib
               name="description">
         	</attrib>
      </AnnotationTagInfo>
      <AnnotationTagInfo
            tagSet="web"
            tagName="env-entry"
            scope="type">
            <attrib name="name" use="required">
            </attrib>
            <attrib name="description"/>
            <attrib name="type" type="enum">
            	<enumValues value="java.lang.Boolean"/>
            	<enumValues value="java.lang.Byte"/>
				<enumValues value="java.lang.Character"/>
				<enumValues value="java.lang.String"/>
				<enumValues value="java.lang.Short"/>
				<enumValues value="java.lang.Integer"/>
				<enumValues value="java.lang.Long"/>
				<enumValues value="java.lang.Float"/>
				<enumValues value="java.lang.Double"/>
			</attrib>
            <attrib name="value"/>
      </AnnotationTagInfo>
      <AnnotationTagInfo
            tagSet="web"
            tagName="ejb-ref"
            scope="type">
          <attrib name="name" use="required"/>
          <attrib name="type" type="enum" use="required">
          	<enumValues value="Entity"/>
          	<enumValues value="Session"/>
          </attrib>
          <attrib name="home" use="required"/>
          <attrib name="remote" use="required"/>
          <attrib name="link"/>
          <attrib name="description"/>
      </AnnotationTagInfo>
      <AnnotationTagInfo
            tagSet="web"
            tagName="ejb-local-ref"
            scope="type">
            <attrib name="name" use="required"/>
          <attrib name="type" type="enum" use="required">
          	<enumValues value="Entity"/>
          	<enumValues value="Session"/>
          </attrib>
          <attrib name="home" use="required"/>
          <attrib name="local" use="required"/>
          <attrib name="link"/>
          <attrib name="description"/>
      </AnnotationTagInfo>      
   </extension>


   <extension
         point="org.eclipse.wst.common.emfworkbench.integration.editModel">
      <editModel
            editModelID="jst.web"
            factoryClass="org.eclipse.jst.common.jdt.internal.integration.JavaArtifactEditModelFactory">
         <editModelResource
               autoload="false"
               URI="WEB-INF/web.xml"/>
      </editModel>
   </extension>
   
   <extension
         point="org.eclipse.wst.common.modulecore.artifactedit">
      <artifactedit
            typeID="jst.web"
            class="org.eclipse.jst.j2ee.web.componentcore.util.WebArtifactEdit">
      </artifactedit>
   </extension> 
   
   <!--============================-->
   <!-- Builder Provider registrations-->
   <!--============================-->
	<extension
         point="org.eclipse.wst.common.frameworks.DataModelProviderExtension">
     	<ProviderDefinesType
      		providerType="jst.web.builder"
      		providerID="org.eclipse.jst.j2ee.internal.deployables.JavaComponentBuilderDataModelProvider"/>
		<DataModelProvider
            class="org.eclipse.jst.j2ee.internal.web.operations.NewServletClassDataModelProvider"
            id="org.eclipse.jst.j2ee.internal.web.operations.NewServletClassDataModelProvider"/>
	</extension>

	<extension
         point="org.eclipse.wst.common.frameworks.DataModelProviderExtension">
     	<ProviderDefinesType
      		providerType="jst.webfragment.builder"
      		providerID="org.eclipse.jst.j2ee.internal.deployables.JavaComponentBuilderDataModelProvider"/>
	</extension>

 <extension
       point="org.eclipse.wst.common.frameworks.DataModelProviderExtension">
    <DataModelProvider
          class="org.eclipse.jst.j2ee.internal.web.operations.NewFilterClassDataModelProvider"
          id="org.eclipse.jst.j2ee.internal.web.operations.NewFilterClassDataModelProvider">
    </DataModelProvider>
 </extension>
 <extension
       point="org.eclipse.wst.common.frameworks.DataModelProviderExtension">
    <DataModelProvider
          class="org.eclipse.jst.j2ee.internal.web.operations.NewListenerClassDataModelProvider"
          id="org.eclipse.jst.j2ee.internal.web.operations.NewListenerClassDataModelProvider">
    </DataModelProvider>
 </extension>
	
  <extension point="org.eclipse.jdt.core.classpathContainerInitializer">
    <classpathContainerInitializer
      class="org.eclipse.jst.j2ee.internal.web.classpath.WebAppLibrariesContainerInitializer"
      id="org.eclipse.jst.j2ee.internal.web.container"/>
  </extension>
  
  <!-- Project Facets -->
  
  <extension point="org.eclipse.wst.common.project.facet.core.facets">

    <project-facet id="jst.web">
      <label>%WEB_FACET_LABEL</label>
      <description>%WEB_FACET_DESCRIPTION</description>
      <default-version version="3.0"/>
    </project-facet>

    <project-facet-version facet="jst.web" version="2.2">
      <constraint>
        <and>
          <requires facet="jst.java" version="[1.3"/>
          <conflicts group="modules"/>
        </and>
      </constraint>
      <group-member id="modules"/>
    </project-facet-version>

    <project-facet-version facet="jst.web" version="2.3">
      <constraint>
        <and>
          <requires facet="jst.java" version="[1.3"/>
          <conflicts group="modules"/>
        </and>
      </constraint>
      <group-member id="modules"/>
    </project-facet-version>

    <project-facet-version facet="jst.web" version="2.4">
      <constraint>
        <and>
          <requires facet="jst.java" version="[1.3"/>
          <conflicts group="modules"/>
        </and>
      </constraint>
      <group-member id="modules"/>
    </project-facet-version>
    
    <project-facet-version facet="jst.web" version="2.5">
      <constraint>
        <and>
          <requires facet="jst.java" version="[1.5"/>
          <conflicts group="modules"/>
        </and>
      </constraint>
      <group-member id="modules"/>
    </project-facet-version>
    
    <project-facet-version facet="jst.web" version="3.0">
      <constraint>
        <and>
          <requires facet="jst.java" version="[1.6"/>
          <conflicts group="modules"/>
        </and>
      </constraint>
      <group-member id="modules"/>
    </project-facet-version>

    <project-facet-version facet="jst.web" version="3.1">
      <constraint>
        <and>
          <requires facet="jst.java" version="[1.7"/>
          <conflicts group="modules"/>
        </and>
      </constraint>
      <group-member id="modules"/>
    </project-facet-version>
    
    <project-facet-version facet="jst.web" version="4.0">
      <constraint>
        <and>
          <requires facet="jst.java" version="[1.8"/>
          <conflicts group="modules"/>
        </and>
      </constraint>
      <group-member id="modules"/>
    </project-facet-version>

    <action facet="jst.web" type="INSTALL" id="jst.web.install">
      <delegate class="org.eclipse.jst.j2ee.web.project.facet.WebFacetInstallDelegate"/>
      <config-factory class="org.eclipse.jst.j2ee.web.project.facet.WebFacetInstallDataModelProvider"/>
    </action>

    <event-handler facet="jst.web" type="RUNTIME_CHANGED">
       <delegate class="org.eclipse.jst.j2ee.project.facet.J2EEFacetRuntimeChangedDelegate"/>
    </event-handler>
    
    <event-handler type="POST_INSTALL" facet="jst.web">
      <delegate class="org.eclipse.jst.j2ee.web.project.facet.WebFacetPostInstallDelegate"/>
    </event-handler>
    
    <template id="template.jst.web">
      <label>%WEB_FACET_TEMPLATE_LABEL</label>
      <fixed facet="jst.java"/>
      <fixed facet="jst.web"/>
    </template>

	<project-facet id="jst.webfragment">
      <label>%WEBFRAGMENT_FACET_LABEL</label>
      <description>%WEBFRAGMENT_FACET_DESCRIPTION</description>
      <default-version version="3.0"/>
      <property name="hide.version" value="true"/>
    </project-facet>
    
    <project-facet-version facet="jst.webfragment" version="3.0">
      <constraint>
        <and>
          <requires facet="jst.java" version="[1.6"/>
          <conflicts group="modules"/>
        </and>
      </constraint>
      <group-member id="modules"/>
    </project-facet-version>
    
    <project-facet-version facet="jst.webfragment" version="3.1">
      <constraint>
        <and>
          <requires facet="jst.java" version="[1.7"/>
          <conflicts group="modules"/>
        </and>
      </constraint>
      <group-member id="modules"/>
    </project-facet-version>
    
    <project-facet-version facet="jst.webfragment" version="4.0">
      <constraint>
        <and>
          <requires facet="jst.java" version="[1.8"/>
          <conflicts group="modules"/>
        </and>
      </constraint>
      <group-member id="modules"/>
    </project-facet-version>

    <action facet="jst.webfragment" version="[3.0-4.0]" type="INSTALL" id="jst.webfragment.install">
      <delegate class="org.eclipse.jst.j2ee.web.project.facet.WebFragmentFacetInstallDelegate"/>
      <config-factory class="org.eclipse.jst.j2ee.web.project.facet.WebFragmentFacetInstallDataModelProvider"/>
    </action>

    <event-handler facet="jst.webfragment" type="RUNTIME_CHANGED">
       <delegate class="org.eclipse.jst.j2ee.project.facet.J2EEFacetRuntimeChangedDelegate"/>
    </event-handler>
    
	<event-handler type="POST_INSTALL" facet="jst.webfragment" version="[3.0-4.0]">
		    <delegate class="org.eclipse.jst.j2ee.web.project.facet.WebFragmentFacetPostInstallDelegate"/>
	   </event-handler>  
          
    <template id="template.jst.webfragment">
      <label>%WEBFRAGMENT_FACET_TEMPLATE_LABEL</label>
      <fixed facet="jst.java"/>
      <fixed facet="jst.webfragment"/>
    </template>

  </extension>

   <extension
        point="org.eclipse.jst.j2ee.J2EEModelProvider">
        <provider>
        	<modelProvider factoryClass="org.eclipse.jst.j2ee.web.componentcore.util.WebArtifactEdit"/>	
      		<facet id="jst.web" versions="2.2,2.3,2.4"/>
      	</provider>
   </extension>
</plugin>
