<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

<!--  Dyanmic Content Provider extensions -->
   <extension
         point="org.eclipse.wst.common.emfworkbench.integration.adapterFactory">
      <adapterFactory
            functionGroupID="org.eclipse.jst.j2ee"
            className="org.eclipse.jst.j2ee.internal.webservice.provider.Webservice_clientItemProviderAdapterFactory"
            packageURI="webservice_client.xmi"
            id="org.eclipse.jst.j2ee.internal.webservice.provider.Webservice_clientItemProviderAdapterFactory">
      </adapterFactory>
   </extension>
   <extension
         point="org.eclipse.wst.common.emfworkbench.integration.adapterFactory">
      <adapterFactory
            functionGroupID="org.eclipse.jst.j2ee"
            className="org.eclipse.jst.j2ee.internal.webservice.provider.WscommonItemProviderAdapterFactory"
            packageURI="wscommon.xmi"
            id="org.eclipse.jst.j2ee.internal.webservice.provider.WscommonItemProviderAdapterFactory">
      </adapterFactory>
      <adapterFactory
            functionGroupID="org.eclipse.jst.j2ee"
            className="org.eclipse.jst.j2ee.internal.webservice.provider.Webservice_clientEditorItemProviderFactory"
            packageURI="client.xmi"
            id="org.eclipse.jst.j2ee.internal.webservice.provider.Webservice_clientItemProviderAdapterFactoryForClient">
      </adapterFactory>
      <adapterFactory
            functionGroupID="org.eclipse.jst.j2ee"
            className="org.eclipse.jst.j2ee.internal.webservice.provider.Webservice_clientEditorItemProviderFactory"
            packageURI="webservice_client.xmi"
            id="org.eclipse.jst.j2ee.internal.webservice.wsclient.provider.Webservice_clientItemProviderAdapterFactoryForWSClient">
      </adapterFactory>
      <adapterFactory
            functionGroupID="org.eclipse.jst.j2ee"
            className="org.eclipse.jst.j2ee.internal.webservice.provider.Webservice_clientEditorItemProviderFactory"
            packageURI="ejb.xmi"
            id="org.eclipse.jst.j2ee.internal.webservice.wsclient.provider.Webservice_clientItemProviderAdapterFactoryForEJB">
      </adapterFactory>
      <adapterFactory
            functionGroupID="org.eclipse.jst.j2ee"
            className="org.eclipse.jst.j2ee.internal.webservice.provider.Webservice_clientEditorItemProviderFactory"
            packageURI="webapplication.xmi"
            id="org.eclipse.jst.j2ee.internal.webservice.wsclient.provider.Webservice_clientItemProviderAdapterFactoryForWEB">
      </adapterFactory>
   </extension>
   <extension
         point="org.eclipse.wst.common.emfworkbench.integration.adapterFactory">
      <adapterFactory
            functionGroupID="org.eclipse.jst.j2ee"
            className="org.eclipse.jst.j2ee.internal.webservice.provider.WsddItemProviderAdapterFactory"
            packageURI="wsdd.xmi"
            id="org.eclipse.jst.j2ee.internal.webservice.provider.WsddItemProviderAdapterFactory">
      </adapterFactory>
   </extension>
   <extension
         point="org.eclipse.wst.common.emfworkbench.integration.editModelExtension">
      <editModelExtension
            editModelID="jst.web"
            id="webservices.web.editModelextension">
         <editModelResource
               URI="WEB-INF/webservicesclient.xml">
         </editModelResource>
         <editModelResource
               URI="WEB-INF/webservices.xml">
         </editModelResource>
      </editModelExtension>
   </extension>
   <extension
         point="org.eclipse.wst.common.emfworkbench.integration.editModelExtension">
      <editModelExtension
            editModelID="jst.ejb"
            id="webservices.ejb.editModelextension">
         <editModelResource
               URI="META-INF/webservicesclient.xml">
         </editModelResource>
         <editModelResource
               URI="META-INF/webservices.xml">
         </editModelResource>
      </editModelExtension>
   </extension>
   <extension
         point="org.eclipse.wst.common.emfworkbench.integration.editModelExtension">
      <editModelExtension
            editModelID="jst.appclient"
            id="webservices.appclient.editModelextension">
         <editModelResource
               URI="META-INF/webservicesclient.xml">
         </editModelResource>
         <editModelResource
               URI="META-INF/webservices.xml">
         </editModelResource>
      </editModelExtension>
   </extension>

   <extension
         id="WSDLServiceHelper"
         name="WSDLServiceHelper"
         point="org.eclipse.jst.j2ee.WSDLServiceHelper">
      <wsdlHelper
            helperClass="org.eclipse.jst.j2ee.internal.webservice.helper.WSDLServiceHelperImpl">
      </wsdlHelper>
   </extension>
   <extension
         point="org.eclipse.wst.common.modulecore.resourceFactories">
      <resourceFactory
            class="org.eclipse.jst.j2ee.webservice.internal.wsdd.WsddResourceFactory"
            shortSegment="webservices.xml"/>
      <resourceFactory
            class="org.eclipse.jst.j2ee.webservice.internal.wsdd.WsddResourceFactory"
            shortSegment="webservices-temp.xml"/>
      <resourceFactory
            class="org.eclipse.jst.j2ee.webservice.wsclient.internal.impl.WebServicesClientResourceFactory"
            shortSegment="webservicesclient.xml"/> 
   </extension>
      <extension
         point="org.eclipse.wst.common.modulecore.resourceFactories">
      <resourceFactory
            class="org.eclipse.jst.j2ee.webservice.internal.wsdd.WsddResourceFactory"
            shortSegment="webservices.xml"/>
      <resourceFactory
            class="org.eclipse.jst.j2ee.webservice.internal.wsdd.WsddResourceFactory"
            shortSegment="webservices-temp.xml"/>
      <resourceFactory
            class="org.eclipse.jst.j2ee.webservice.wsclient.internal.impl.WebServicesClientResourceFactory"
            shortSegment="webservicesclient.xml"/> 
   </extension>
</plugin>
