<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   <!-- Web Service Capability Definition-->
   <!-- The Web Service capability requires the Web capability
        and includes the command component.
    -->
   <extension point="org.eclipse.ui.activities">
        
      <activity
            name="%activity.webservice"
            description="%activity.webservice.desc"
            id="org.eclipse.wtp.webservices.capabilities">
      </activity>
      
        
        <activityPatternBinding
            activityId="org.eclipse.wtp.webservices.capabilities"
            pattern="org\.eclipse\.wst\.ws\.[\.\w/]*">
        </activityPatternBinding>
        
        <activityPatternBinding
            activityId="org.eclipse.wtp.webservices.capabilities"
            pattern="org\.eclipse\.wst\.wsdl\.[\.\w/]*">
        </activityPatternBinding>
        
        <activityPatternBinding
            activityId="org.eclipse.wtp.webservices.capabilities"
            pattern="org\.eclipse\.wst\.wsi\.[\.\w/]*">
        </activityPatternBinding>
        
        <activityPatternBinding
            activityId="org.eclipse.wtp.webservices.capabilities"
            pattern="org\.apache\.axis\.[\.\w/]*">
        </activityPatternBinding>
        
        <activityPatternBinding
            activityId="org.eclipse.wtp.webservices.capabilities"
            pattern="org\.apache\.wsil4j\.[\.\w/]*">
        </activityPatternBinding>
        
        <activityPatternBinding
            activityId="org.eclipse.wtp.webservices.capabilities"
            pattern="org\.uddi4j\.[\.\w/]*">
        </activityPatternBinding>
        
        <activityPatternBinding
            activityId="org.eclipse.wtp.webservices.capabilities"
            pattern="org\.wsdl4j\.[\.\w/]*">
        </activityPatternBinding>
        
        <activityPatternBinding
            activityId="org.eclipse.wtp.webservices.capabilities"
            pattern="org\.eclipse\.wst\.command\.[\.\w/]*">
        </activityPatternBinding>
        

      
   </extension>


   <!-- Enterprise Java Capability Definition-->
   <extension point="org.eclipse.ui.activities">
      	
  	<activity
            name="%activity.enterprisejava"
            description="%activity.enterprisejava.desc"
            id="org.eclipse.wtp.jee.capabilities">
     	</activity>
     	
      	<activityPatternBinding
            activityId="org.eclipse.wtp.jee.capabilities"
            pattern="org\.eclipse\.jst\.common\.[\.\w/]*">
      	</activityPatternBinding>
      	
      	<activityPatternBinding
            activityId="org.eclipse.wtp.jee.capabilities"
            pattern="org\.eclipse\.jst\.ejb\.[\.\w/]*">
      	</activityPatternBinding>
      	
      	<activityPatternBinding
            activityId="org.eclipse.wtp.jee.capabilities"
            pattern="org\.eclipse\.jst\.j2ee\.[\.\w/]*">
      	</activityPatternBinding>
      	
      	<activityPatternBinding
            activityId="org.eclipse.wtp.jee.capabilities"
            pattern="org\.eclipse\.jst\.jsp\.[\.\w/]*">
      	</activityPatternBinding>
      	
      	<activityPatternBinding
            activityId="org.eclipse.wtp.jee.capabilities"
            pattern="org\.eclipse\.jst\.server\.[\.\w/]*">
      	</activityPatternBinding>
      	
      	<activityPatternBinding
            activityId="org.eclipse.wtp.jee.capabilities"
            pattern="org\.eclipse\.jst\.servlet\.[\.\w/]*">
      	</activityPatternBinding>
      	
      	<activityRequirementBinding 
      		requiredActivityId="org.eclipse.wtp.webservices.capabilities" 
      		activityId="org.eclipse.wtp.jee.capabilities">
      	</activityRequirementBinding>
      	
      	<activityRequirementBinding 
      		requiredActivityId="org.eclipse.javaDevelopment" 
      		activityId="org.eclipse.wtp.jee.capabilities">
      	</activityRequirementBinding>
   </extension>
   
   <!-- Add to the Web Service Capability Definition-->
   <extension point="org.eclipse.ui.activities">
      	
      	<activityPatternBinding
            activityId="org.eclipse.wtp.webservices.capabilities"
            pattern="org\.eclipse\.jst\.ws\.[\.\w/]*">
      	</activityPatternBinding>
      	
      	<activityPatternBinding
            activityId="org.eclipse.wtp.webservices.capabilities"
            pattern="[\.\w/]*wsimport">
      	</activityPatternBinding>
      	
      	<activityPatternBinding
            activityId="org.eclipse.wtp.webservices.capabilities"
            pattern="[\.\w/]*wsilimport">
      	</activityPatternBinding>
      	
      	<activityPatternBinding
            activityId="org.eclipse.wtp.webservices.capabilities"
            pattern="[\.\w/]*wsexport">
      	</activityPatternBinding>
      	
      	
   </extension>

</plugin>
