<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

 <extension-point id="annotationsProvider" name="%extension-point.name.0" schema="schema/annotationsProvider.exsd"/>
 <extension
       id="AnnotationsTranslator"
       point="org.eclipse.wst.common.emf.translatorExtension">
       <translator
       		className="org.eclipse.jst.common.internal.annotations.core.AnnotationsTranslator">
       </translator>
 </extension>
    
</plugin>
