<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   
   <extension-point 
     id="archiveExportParticipantPanels" 
     name="Archive Export Participant Panels Extension Point" 
     schema="schema/archiveExportParticipantPanels.exsd"/>

	<extension-point id="JavaEEPreferencePageExtender" 
	 name="JavaEEPreferencePage"
	 schema="schema/JavaEEPreferencePageExtender.exsd"/>
 <extension-point id="newJavaEEActionFilter" name="newJavaEEActionFilter" schema="schema/newjavaeeactionfilter.exsd"/>
	 	 
<!--================================-->
<!-- Project Wizard Contributions   -->
<!--================================-->
   <extension
         id="J2EEUIProjectWizards"
         point="org.eclipse.ui.newWizards">
      <category
            name="%j2ee.category_ui_"
            id="org.eclipse.jst.j2ee.internal">
      </category>

<!-- Alchemist Project Wizard -->
      <wizard
            name="%appclient_component_ui_"
            icon="$nl$/icons/full/obj16/alchemist_logo.gif"
            category="org.eclipse.jst.j2ee.internal"
            project="true"
            finalPerspective="org.eclipse.jst.j2ee.J2EEPerspective"
            id="org.eclipse.jst.j2ee.ui.project.facet.appclient.AppClientProjectWizard">
         <class class="org.eclipse.jst.j2ee.ui.project.facet.appclient.AppClientProjectWizard">
            <parameter name="javaeeproject" value="true"/>
            <parameter name="menuIndex" value="40" />
         </class>
         <description>
            %new.appclient.component.description_ui_
         </description>
         <selection
               class="org.eclipse.core.resources.IResource" />
      </wizard>
   </extension>
   
   
  


</plugin>
