<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

     <extension-point id="ejbModelExtender" name="ejbModelExtender" schema="schema/ejbModelExtender.exsd"/>
     <extension-point id="jndiBindingsHelpers" name="jndiBindingsHelpers" schema="schema/jndiBindingsHelpers.exsd"/>

<!--J2EEInit-->
<!--============================-->
<!-- J2EE Core Extension Point Registry-->
<!--============================-->
   <extension
         point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="common.xmi"
            class="org.eclipse.jst.j2ee.common.CommonPackage">
      </package>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="application.xmi"
            class="org.eclipse.jst.j2ee.application.ApplicationPackage">
      </package>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="client.xmi"
            class="org.eclipse.jst.j2ee.client.ClientPackage">
      </package>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="webapplication.xmi"
            class="org.eclipse.jst.j2ee.webapplication.WebapplicationPackage">
      </package>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="ejb.xmi"
            class="org.eclipse.jst.j2ee.ejb.EjbPackage">
      </package>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="jca.xmi"
            class="org.eclipse.jst.j2ee.jca.JcaPackage">
      </package>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="jsp.xmi"
            class="org.eclipse.jst.j2ee.jsp.JspPackage">
      </package>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="webservice_client.xmi"
            class="org.eclipse.jst.j2ee.webservice.wsclient.Webservice_clientPackage">
      </package>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="wscommon.xmi"
            class="org.eclipse.jst.j2ee.webservice.wscommon.WscommonPackage">
      </package>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="wsdd.xmi"
            class="org.eclipse.jst.j2ee.webservice.wsdd.WsddPackage">
      </package>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.ibm.com/websphere/appserver/schemas/5.0.2/wscommon.xmi"
            class="org.eclipse.jst.j2ee.webservice.wscommon.WscommonPackage">
      </package>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.ibm.com/websphere/appserver/schemas/5.0.2/wsdd.xmi"
            class="org.eclipse.jst.j2ee.webservice.wsdd.WsddPackage">
      </package>
   </extension>
<!--ArchiveInit-->
   <extension
         point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="commonarchive.xmi"
            class="org.eclipse.jst.j2ee.commonarchivecore.internal.CommonarchivePackage">
      </package>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="commonarchive.looseconfig.xmi"
            class="org.eclipse.jst.j2ee.commonarchivecore.looseconfig.internal.LooseconfigPackage">
      </package>
   </extension>
<!-- ====================================================== -->
<!-- a place holder for the future.                         -->
<!-- Several that have not changed are still registered as  -->
<!-- Register package mappings                              -->
<!-- ====================================================== -->
   <extension
         point="org.eclipse.wst.common.emf.packageURIMap">
      <map
            uri="common.xmi"
            prefix="common">
      </map>
      <map
            uri="application.xmi"
            prefix="application">
      </map>
      <map
            uri="client.xmi"
            prefix="client">
      </map>
      <map
            uri="webapplication.xmi"
            prefix="webapplication">
      </map>
      <map
            uri="ejb.xmi"
            prefix="ejb">
      </map>
      <map
            uri="jca.xmi"
            prefix="jca">
      </map>
      <map
            uri="taglib.xmi"
            prefix="taglib">
      </map>
      <map
            uri="jsp.xmi"
            prefix="jsp">
      </map>
      <map
            uri="commonarchive.xmi"
            prefix="commonarchive">
      </map>
      <map
            uri="commonarchive.looseconfig.xmi"
            prefix="commonarchive.looseconfig">
      </map>
   </extension>
   <extension
         id="j2eeApplicationErrorCustomizer"
         name="%J2EEApplicationErrorCustomizer"
         point="org.eclipse.wst.xml.core.errorCustomizer">
      <errorCustomizer
            class="org.eclipse.jst.j2ee.core.internal.validation.xmlerrorcustomization.J2EEErrorMessageCustomizer"
            namespace="http://java.sun.com/xml/ns/j2ee"/>
   </extension>
   
   
  <extension
        point="org.eclipse.wst.common.modulecore.resourceFactories">
     <resourceFactory
           class="org.eclipse.jst.j2ee.webapplication.internal.impl.WebAppResourceFactory"
           shortSegment="web.xml">
        <contentTypeBinding
      	  	contentTypeId="org.eclipse.jst.j2ee.webDD">
        </contentTypeBinding>
     </resourceFactory>
     <resourceFactory
           class="org.eclipse.jst.j2ee.ejb.internal.impl.EJBJarResourceFactory"
           shortSegment="ejb-jar.xml">
        <contentTypeBinding
              contentTypeId="org.eclipse.jst.j2ee.ejbDD">
        </contentTypeBinding>
     </resourceFactory>
     <resourceFactory
           class="org.eclipse.jst.j2ee.client.internal.impl.ApplicationClientResourceFactory"
           shortSegment="application-client.xml">
        <contentTypeBinding
              contentTypeId="org.eclipse.jst.j2ee.appclientDD">
        </contentTypeBinding>
     </resourceFactory>
     <resourceFactory
           class="org.eclipse.jst.j2ee.application.internal.impl.ApplicationResourceFactory"
           shortSegment="application.xml">
        <contentTypeBinding
              contentTypeId="org.eclipse.jst.j2ee.earDD">
        </contentTypeBinding>
     </resourceFactory>
     <resourceFactory
           class="org.eclipse.jst.j2ee.jca.internal.impl.ConnectorResourceFactory"
           shortSegment="ra.xml">
        <contentTypeBinding
              contentTypeId="org.eclipse.jst.j2ee.connectorDD">
        </contentTypeBinding>
     </resourceFactory>
  </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="org.eclipse.jst.javaee.web.Servlet"
            class="org.eclipse.jst.javaee.internal.adapter.WebArtifactAdapterFactory">
         <adapter type="org.eclipse.jdt.core.IJavaElement"/>
      </factory>
      <factory
            adaptableType="org.eclipse.jst.j2ee.webapplication.Servlet"
            class="org.eclipse.jst.javaee.internal.adapter.WebArtifactAdapterFactory">
         <adapter
               type="org.eclipse.jdt.core.IJavaElement">
         </adapter>
      </factory>
      <factory
            adaptableType="org.eclipse.jst.javaee.web.Filter"
            class="org.eclipse.jst.javaee.internal.adapter.WebArtifactAdapterFactory">
         <adapter type="org.eclipse.jdt.core.IJavaElement"/>
      </factory>
      <factory
            adaptableType="org.eclipse.jst.j2ee.webapplication.internal.impl.FilterImpl"
            class="org.eclipse.jst.javaee.internal.adapter.WebArtifactAdapterFactory">
         <adapter
               type="org.eclipse.jdt.core.IJavaElement">
         </adapter>
      </factory>
      <factory
            adaptableType="org.eclipse.jst.javaee.core.Listener"
            class="org.eclipse.jst.javaee.internal.adapter.WebArtifactAdapterFactory">
         <adapter type="org.eclipse.jdt.core.IJavaElement"/>
      </factory>
      <factory
            adaptableType="org.eclipse.jst.j2ee.common.internal.impl.ListenerImpl"
            class="org.eclipse.jst.javaee.internal.adapter.WebArtifactAdapterFactory">
         <adapter
               type="org.eclipse.jdt.core.IJavaElement">
         </adapter>
      </factory>
      <factory
            adaptableType="org.eclipse.jst.javaee.ejb.SessionBean"
            class="org.eclipse.jst.javaee.internal.adapter.EjbArtifactAdapterFactory">
         <adapter
               type="org.eclipse.jdt.core.IJavaElement">
         </adapter>
      </factory>
      <factory
            adaptableType="org.eclipse.jst.javaee.ejb.MessageDrivenBean"
            class="org.eclipse.jst.javaee.internal.adapter.EjbArtifactAdapterFactory">
         <adapter
               type="org.eclipse.jdt.core.IJavaElement">
         </adapter>
      </factory>
      <factory
            adaptableType="org.eclipse.jst.javaee.ejb.EntityBean"
            class="org.eclipse.jst.javaee.internal.adapter.EjbArtifactAdapterFactory">
         <adapter
               type="org.eclipse.jdt.core.IJavaElement">
         </adapter>
      </factory>
      <factory
            adaptableType="org.eclipse.jst.j2ee.ejb.EnterpriseBean"
            class="org.eclipse.jst.javaee.internal.adapter.EjbArtifactAdapterFactory">
         <adapter
               type="org.eclipse.jdt.core.IJavaElement">
         </adapter>
      </factory>
   </extension>

</plugin>
