<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension-point id="JavaComponentDiscerner" name="JavaComponentDiscerner" schema="schema/JavaComponentDiscerner.exsd"/>

     <extension
         id="context.Sensitive.Class.workingCopyManager"
         name="Working Copy Manager - Headless Context Class"
         point="org.eclipse.jem.util.uiContextSensitiveClass">
      <uiContextSensitiveClass
            key="workingCopyManager"
            context="Headless"
            className="org.eclipse.jst.common.jdt.internal.integration.WTPWorkingCopyManager">
      </uiContextSensitiveClass>
   </extension>
   
   <extension
        id="javaProjectValidationHandler"
        name="javaProjectValidationHandler"
        point="org.eclipse.wst.validation.validationSelectionHandler">
      <validationSelectionHandler
        id="javaProjectValidationHandler"
        handlerClass="org.eclipse.jst.common.jdt.internal.integration.JavaProjectValidationHandler"
        selectionType="org.eclipse.jdt.core.IJavaProject"/>
   </extension>
   <extension
         point="org.eclipse.wst.common.emfworkbench.integration.editModel">
      <editModel
            editModelID="jst.utility"
            factoryClass="org.eclipse.jst.common.jdt.internal.integration.JavaArtifactEditModelFactory">
      </editModel>
   </extension>
   
  <extension point="org.eclipse.core.runtime.adapters">
    <factory 
      class="org.eclipse.jst.common.project.facet.internal.JavaFacetInstallConfigToDataModelAdapter" 
      adaptableType="org.eclipse.jst.common.project.facet.core.JavaFacetInstallConfig">
      <adapter type="org.eclipse.wst.common.frameworks.datamodel.IDataModel"/>
    </factory>
  </extension>

  <extension point="org.eclipse.core.runtime.adapters">
    <factory 
      class="org.eclipse.jst.common.project.facet.internal.DataModelToJavaFacetInstallConfigAdapter" 
      adaptableType="org.eclipse.wst.common.frameworks.datamodel.IDataModel">
      <adapter type="org.eclipse.jst.common.project.facet.core.JavaFacetInstallConfig"/>
    </factory>
  </extension>
  <extension
        point="org.eclipse.wst.common.modulecore.referenceResolver">
     <resolver
           class="org.eclipse.jst.common.internal.modulecore.ClasspathContainerReferenceResolver"
           id="org.eclipse.jst.common.frameworks.classpathContainerResolver">
     </resolver>
  </extension>
</plugin>
