<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

     <extension-point id="contributors" name="%contributors.extensionpoint.name" schema="schema/contributors.exsd"/>
   <extension-point id="extensions" name="%extensions.extensionpoint.name" schema="schema/extensions.exsd"/>

   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            name="%Launch.localProxy"
            delegate="org.eclipse.jem.internal.proxy.remote.LocalProxyLaunchDelegate"
            category="org.eclipse.jem.proxy"
            modes="run"
            id="org.eclipse.jem.proxy.LocalProxyLaunchConfigurationType"
            sourceLocatorId="org.eclipse.jdt.launching.sourceLocator.JavaSourceLookupDirector"
            sourcePathComputerId="org.eclipse.jdt.launching.sourceLookup.javaSourcePathComputer">
      </launchConfigurationType>
   </extension>

</plugin>
