<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   
<!-- JCA Import Wizard --> 
   <extension
         point="org.eclipse.ui.importWizards">
      <wizard
            category="org.eclipse.jst.j2ee.internal"
            class="org.eclipse.jst.j2ee.jca.ui.internal.wizard.ConnectorComponentImportWizard"
            icon="icons/full/ctool16/import_rar.gif"
            id="org.eclipse.jst.j2ee.jca.ui.internal.wizard.ConnectorComponentImportWizard"
            name="%connector.jar.file_ui_">
         <description>
            %connector.import.description_ui_
         </description>
         <selection
               class="org.eclipse.core.resources.IResource">
         </selection>
       </wizard>
     </extension>

<!-- JCA Export Wizard --> 
    <extension
         point="org.eclipse.ui.exportWizards">
     <wizard
           category="org.eclipse.jst.j2ee.internal"
           class="org.eclipse.jst.j2ee.jca.ui.internal.wizard.ConnectorComponentExportWizard"
           icon="icons/full/ctool16/export_rar.gif"
           id="org.eclipse.jst.j2ee.jca.ui.internal.wizard.ConnectorComponentExportWizard"
           name="%connector.jar.file_ui_">
         <description>
            %connector.export.description_ui_
         </description>
         <selection
               class="org.eclipse.core.resources.IResource">
         </selection>
       </wizard>
     </extension>

  <extension point="org.eclipse.wst.common.project.facet.ui.wizardPages">
    <wizard-pages action="jst.connector.install">
      <page class="org.eclipse.jst.j2ee.jca.ui.internal.wizard.ConnectorFacetInstallPage"/>
    </wizard-pages>
  </extension>
      
</plugin>
