<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
        point="org.eclipse.jst.j2ee.J2EEModelProvider">
      	<provider>
        	<modelProvider factoryClass="org.eclipse.jst.jee.model.internal.Web25MergedModelProviderFactory"/>
      		<facet id="jst.web" versions="2.5,3.0,3.1,4.0"/>
      	</provider>
   </extension>
   <extension
        point="org.eclipse.jst.j2ee.J2EEModelProvider">
      	<provider>
        	<modelProvider factoryClass="org.eclipse.jst.jee.model.internal.WebFragment30ModelProviderFactory"/>
      		<facet id="jst.webfragment" versions="3.0,3.1,4.0"/>
      	</provider>
   </extension>
 </plugin>
