<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension-point id="xdocletRuntime" name="XDoclet Runtime" schema="schema/xdocletRuntime.exsd"/>
   <extension-point id="webdocletTaskProvider" name="Task providers for webdoclet" schema="schema/webdocletTaskProvider.exsd"/>
   <extension-point id="ejbDocletTaskProvider" name="A task  provider class for ejbdoclet" schema="schema/ejbDocletTaskProvider.exsd"/>

     <extension point="org.eclipse.core.resources.builders"
       id="xdocletbuilder"
       name="XDoclet Builder">
      <builder>
         <run
         	class="org.eclipse.jst.j2ee.ejb.annotations.internal.xdoclet.XDocletBuilder" >
         </run>
      </builder>
   </extension>

  <extension 
    point="org.eclipse.core.resources.markers"
    id="xdoclet.marker"
    name="%validationMarkerName">
    <super type="org.eclipse.core.resources.problemmarker"/>
    <persistent value="true"/>
  </extension>
  
  
   <extension
         point="org.eclipse.ui.preferencePages">
     <page
           category="org.eclipse.jst.j2ee.ui.preferencePages.JavaEE"
           class="org.eclipse.jst.j2ee.ejb.annotations.internal.xdoclet.ui.XDocletPreferencePage"
           id="org.eclipse.jst.j2ee.ejb.annotations.xdoclet.preference"
           name="%name_xdoclet">
      </page>
     <page
            name="%name_ejbdoclet"
            category="org.eclipse.jst.j2ee.ejb.annotations.xdoclet.preference"
            class="org.eclipse.jst.j2ee.ejb.annotations.internal.xdoclet.ui.XDocletEJBPreferencePage"
            id="org.eclipse.jst.j2ee.ejb.annotations.xdoclet.ejb.preference">
     </page>
     <page
            name="%name_webdoclet"
            category="org.eclipse.jst.j2ee.ejb.annotations.xdoclet.preference"
            class="org.eclipse.jst.j2ee.ejb.annotations.internal.xdoclet.ui.XDocletWebPreferencePage"
            id="org.eclipse.jst.j2ee.ejb.annotations.xdoclet.web.preference">
     </page>
   </extension>


<!-- =========== org.eclipse.jst.j2ee.ejb.annotations.internal.xdoclet.ui.XDocletPreferencePage ============ -->


	<extension point="org.eclipse.ui.propertyPages">
       <page
            adaptable="true"
            objectClass="org.eclipse.core.resources.IProject"
            name="%XDocletPropertiesPage.name"
            class="org.eclipse.jst.j2ee.ejb.annotations.internal.xdoclet.ui.XDocletPreferencePage"
            id="XDocletPropertiesPage">
          <filter
             name="nature"
             value="org.eclipse.wst.common.project.facet.core.nature">
          </filter>
      </page> 

<!-- =========== org.eclipse.jst.j2ee.ejb.annotations.internal.xdoclet.ui.XDocletEJBPreferencePage ============ -->

      <page
            adaptable="true"
            objectClass="org.eclipse.core.resources.IProject"
            name="%XDocletEJBPropertiesPage.name"
            category="XDocletPropertiesPage"
            class="org.eclipse.jst.j2ee.ejb.annotations.internal.xdoclet.ui.XDocletEJBPreferencePage"
            id="XDocletEJBPropertiesPage">
          <filter
             name="nature"
             value="org.eclipse.wst.common.project.facet.core.nature">
          </filter>
      </page> 
   
<!-- =========== org.eclipse.jst.j2ee.ejb.annotations.internal.xdoclet.ui.XDocletWebPreferencePage ============ -->

      <page
            adaptable="true"
            objectClass="org.eclipse.core.resources.IProject"
            name="%XDocletWebPropertiesPage.name"
            category="XDocletPropertiesPage"
            class="org.eclipse.jst.j2ee.ejb.annotations.internal.xdoclet.ui.XDocletWebPreferencePage"
            id="XDocletWebPropertiesPage">
          <filter
             name="nature"
             value="org.eclipse.wst.common.project.facet.core.nature">
          </filter>
      </page> 
   </extension>    
   
   
<!-- =========== XDoclet Code Emmitters ============ -->

   <extension
         point="org.eclipse.jst.j2ee.ejb.annotations.emitter.template">
      <emitter
      
            name="XDoclet"
            classpathProvider="org.eclipse.jst.j2ee.ejb.annotations.internal.xdoclet.ClasspathProvider"
            builderId="xdocletbuilder"
            ejbIntrospector="org.eclipse.jst.j2ee.ejb.annotations.internal.xdoclet.XdocletIntrospector"
            mergeController="ejb-merge.xml"
            entityTemplates="templates/ejb/entity"
            messageTemplates="templates/ejb/message"
            sessionTemplates="templates/ejb/session">
      </emitter>
   </extension>
   
    <extension
         point="org.eclipse.jst.j2ee.ejb.annotation.model.ejbGenerator">
         
         <provider
            name="XDoclet"
            class="org.eclipse.jst.j2ee.ejb.annotations.internal.xdoclet.provider.XDocletAnnotationProvider" />
         <ejbGenerator
            name="XDoclet"
            class="org.eclipse.jst.j2ee.ejb.annotations.internal.xdoclet.provider.XDocletAnnotationProvider" />
   </extension>
   
  
   <!-- -->
   
	  <extension
	    point="org.eclipse.ui.popupMenus">
	    <objectContribution
	      adaptable="true"
	      objectClass="org.eclipse.core.resources.IProject"
	      nameFilter="*"
	      id="org.eclipse.jst.j2ee.ejb.annotations.xdoclet">
	      <filter name="nature" value="org.eclipse.wst.common.project.facet.core.nature"/>
          <enablement>
            <or>
              <test property="org.eclipse.wst.common.project.facet.core.projectFacet" value="jst.web.xdoclet"/>
              <test property="org.eclipse.wst.common.project.facet.core.projectFacet" value="jst.ejb.xdoclet"/>
            </or>
	      </enablement>
	      <action
	        label="%action.runxdoclet"
	        class="org.eclipse.jst.j2ee.ejb.annotations.internal.xdoclet.action.RunXDocletAction"
	        menubarPath="additions"
	        enablesFor="+"
	        id="org.eclipse.jst.j2ee.ejb.annotations.internal.xdoclet.action.RunXDocletAction">
	      </action>
	    </objectContribution>
	  </extension>
   
    <!-- ================================================ -->
    <!--  XDoclet PROJECT WEB FACETS                      -->
    <!-- ================================================ -->
 

  <extension point="org.eclipse.wst.common.project.facet.core.facets">

    <project-facet id="jst.web.xdoclet">
      <label>%facet.webdoclet</label>
      <description>%facet.webdoclet.description</description>
      <icon>icons/xdoclet.gif</icon>
    </project-facet>

    <project-facet-version facet="jst.web.xdoclet" version="1.2.1">
      <constraint>
        <and>
          <requires facet="jst.web" version="[2.2-2.3]"/>
        </and>
      </constraint>
     </project-facet-version>

    <project-facet-version facet="jst.web.xdoclet" version="1.2.2">
      <constraint>
        <and>
          <requires facet="jst.web" version="[2.2-2.3]"/>
        </and>
      </constraint>
    </project-facet-version>

    <project-facet-version facet="jst.web.xdoclet" version="1.2.3">
      <constraint>
        <and>
          <requires facet="jst.web" version="[2.2"/>
        </and>
      </constraint>
   </project-facet-version>
    

    
    <action type="install" facet="jst.web.xdoclet" version="[1.2.1-1.2.3]">
      <delegate class="org.eclipse.jst.j2ee.ejb.annotations.internal.xdoclet.facet.XDocletFacetInstallDelegate"/>
      <config-factory class="org.eclipse.jst.j2ee.ejb.annotations.internal.xdoclet.facet.XDocletWebFacetInstallDataModelProvider"/>
    </action>
    <action type="uninstall" facet="jst.web.xdoclet" version="[1.2.1-1.2.3]">
      <delegate class="org.eclipse.jst.j2ee.ejb.annotations.internal.xdoclet.facet.XDocletFacetUninstallDelegate"/>
    </action>
    
	<event-handler type="RUNTIME_CHANGED" facet="jst.web.xdoclet" version="[1.2.1-1.2.3]">
	  <delegate class="org.eclipse.jst.j2ee.ejb.annotations.internal.xdoclet.facet.XDocletFacetRuntimeChangedDelegate"/>
	</event-handler>
	
	<action type="version-change" facet="jst.web.xdoclet" version="[1.2.1-1.2.3]">
	  <delegate class="org.eclipse.jst.j2ee.ejb.annotations.internal.xdoclet.facet.XDocletFacetVersionChangeDelegate"/>
	</action>


	  <preset id="preset.jst.web.xdoclet">
	      <label>%preset.webdoclet</label>
	      <description>%preset.webdoclet.description</description>
	      <facet id="jst.java" version="1.4" />
	      <facet id="jst.web" version="2.4"/>
	      <facet id="jst.web.xdoclet" version="1.2.3" />
	  </preset>    

   <!-- ================================================ -->
    <!--  XDoclet PROJECT EJB FACETS                      -->
    <!-- ================================================ -->
  
    <project-facet id="jst.ejb.xdoclet">
      <label>%facet.ejbdoclet</label>
      <description>%facet.ejbdoclet.description</description>
      <icon>icons/xdoclet.gif</icon>
    </project-facet>

    <project-facet-version facet="jst.ejb.xdoclet" version="1.2.1">
      <constraint>
        <and>
          <requires facet="jst.ejb" version="1.1,2.0"/>
          <conflicts group="ejb.annotated.generation"/>
        </and>
      </constraint>
      <group-member id="ejb.annotated.generation"/>
     </project-facet-version>

    <project-facet-version facet="jst.ejb.xdoclet" version="1.2.2">
      <constraint>
        <and>
          <requires facet="jst.ejb" version="1.1,2.0"/>
          <conflicts group="ejb.annotated.generation"/>
        </and>
      </constraint>
      <group-member id="ejb.annotated.generation"/>
    </project-facet-version>

    <project-facet-version facet="jst.ejb.xdoclet" version="1.2.3">
      <constraint>
        <and>
          <requires facet="jst.ejb" version="[1.1-2.1]"/>
          <conflicts group="ejb.annotated.generation"/>
        </and>
      </constraint>
      <group-member id="ejb.annotated.generation"/>
   </project-facet-version>
   
    <action type="install" facet="jst.ejb.xdoclet" version="[1.2.1-1.2.3]">
      <delegate class="org.eclipse.jst.j2ee.ejb.annotations.internal.xdoclet.facet.XDocletFacetInstallDelegate"/>
      <config-factory class="org.eclipse.jst.j2ee.ejb.annotations.internal.xdoclet.facet.XDocletEjbFacetInstallDataModelProvider"/>
    </action>
    <action type="uninstall" facet="jst.ejb.xdoclet" version="[1.2.1-1.2.3]">
      <delegate class="org.eclipse.jst.j2ee.ejb.annotations.internal.xdoclet.facet.XDocletFacetUninstallDelegate"/>
    </action>
	<event-handler type="RUNTIME_CHANGED" facet="jst.ejb.xdoclet" version="[1.2.1-1.2.3]">
	  <delegate class="org.eclipse.jst.j2ee.ejb.annotations.internal.xdoclet.facet.XDocletFacetRuntimeChangedDelegate"/>
	</event-handler>
	<action type="version-change" facet="jst.ejb.xdoclet" version="[1.2.1-1.2.3]">
	  <delegate class="org.eclipse.jst.j2ee.ejb.annotations.internal.xdoclet.facet.XDocletFacetVersionChangeDelegate"/>
	</action>


	  <preset id="preset.jst.ejb.xdoclet">
	      <label>%preset.ejbdoclet</label>
	      <facet id="jst.java" version="1.4" />
	      <facet id="jst.ejb" version="2.1"/>
	      <facet id="jst.ejb.xdoclet" version="1.2.3" />
	  </preset>    
  </extension>
  

  <extension point="org.eclipse.wst.common.project.facet.core.runtimes">
    <supported>
      <runtime-component any="true"/>
      <facet id="jst.web.xdoclet" version="1.2.1,1.2.2,1.2.3"/>
    </supported>
    <supported>
      <runtime-component any="true"/>
      <facet id="jst.ejb.xdoclet" version="1.2.1,1.2.2,1.2.3"/>
    </supported>
  </extension>
  

    <!-- ================================================ -->
    <!--  EJB Tag set definitions for XDoclet             -->
    <!-- ================================================ -->
    <extension
         id="EJBTagSets"
         point="org.eclipse.jst.common.annotations.controller.AnnotationTagSet">
      <AnnotationTagSet
            name="ejb">
      </AnnotationTagSet>
   </extension>
   <extension
         id="EJBAnnotationInfo"
         point="org.eclipse.jst.common.annotations.controller.AnnotationTagInfo">
      <AnnotationTagInfo tagSet="ejb" tagName="value-object" scope="type"
      			multiplicity="*">
      	<attrib name="abstract" type="bool"/>
      	<attrib name="extends"/>
      	<attrib name="implements"/>
      	<attrib name="match"/>
      	<attrib name="name">
      		<unique scope="type"/>
      	</attrib>
      	<attrib name="generatePKConstructor" type="bool"/>
      </AnnotationTagInfo>
      
      <AnnotationTagInfo tagSet="ejb" tagName="value-object" scope="method">
      	<attrib name="match"/>
      	<attrib name="compose"/>
      	<attrib name="compose-name"/>
      	<attrib name="aggregate"/>
      	<attrib name="aggregate-name"/>
      	<attrib name="members"/>
      	<attrib name="members-name"/>
      	<attrib name="relation"/>
      	<attrib name="type"/>
      </AnnotationTagInfo>
      <AnnotationTagInfo
            tagSet="ejb"
            tagName="session"
            scope="type">
         <attrib
               use="required"
               name="name">
               <unique scope="module"/>
         </attrib>
         <attrib
               name="description">
         </attrib>
         <attrib
               name="display-name">
         </attrib>
         <attrib
               name="small-icon">
         </attrib>
         <attrib
               name="large-icon">
         </attrib>
         <attrib
               name="generate"
               type="bool">
         </attrib>
         <attrib
               name="jndi-name">
         </attrib>
         <attrib
               name="local-jndi-name">
         </attrib>
         <attrib
               name="view-type" type="enum">
               <enumValues value="local"/>
               <enumValues value="remote"/>
               <enumValues value="both"/>
         </attrib>
         <attrib
               name="type" type="enum">
               <enumValues value="Stateless"/>
         </attrib>
         <attrib
               name="transaction-type" type="enum">
               <enumValues value="Container"/>
               <enumValues value="Bean"/>
         </attrib>     
         <attrib
               name="remote-business-interface"
               type="javaType">
         </attrib>
         <attrib
               name="local-business-interface"
               type="javaType">
         </attrib>
      </AnnotationTagInfo>
      <AnnotationTagInfo tagSet="ejb" tagName="relation" scope="method">
      		<attrib name="name" use="required"/>
      		<attrib name="role-name" use="required"/>
      		<attrib name="cascade-delete"/>
      		<attrib name="target-ejb"/>
      		<attrib name="target-role-name"/>
      		<attrib name="target-cascade-delete"/>
      		<attrib name="target-multiple"/>
      </AnnotationTagInfo>
      <AnnotationTagInfo
            tagSet="ejb"
            tagName="bean"
            scope="type">
         <attrib
               use="required"
               name="name">
               <unique scope="module"/>
         </attrib>
         <attrib
               name="description">
         </attrib>
         <attrib
               name="display-name">
         </attrib>
         <attrib
               name="small-icon">
         </attrib>
         <attrib
               name="large-icon">
         </attrib>
         <attrib
               name="generate"
               type="bool">
         </attrib>
         <attrib
               name="jndi-name">
         </attrib>
         <attrib
               name="local-jndi-name">
         </attrib>
         <attrib
               name="view-type" type="enum">
               <enumValues value="local"/>
               <enumValues value="remote"/>
               <enumValues value="both"/>
         </attrib>
         <attrib
               name="type" type="enum">
               <enumValues value="CMP"/>
               <enumValues value="BMP"/>
               <enumValues value="Stateless"/>
               <enumValues value="Stateful"/>
         </attrib>
         <attrib
               name="transaction-type" type="enum">
               <enumValues value="Container"/>
               <enumValues value="Bean"/>
         </attrib>
         <attrib
               name="reentrant"
               type="bool">
         </attrib>
         <attrib
               name="cmp-version" type="enum">
               <enumValues value="2.x"/>
         </attrib>
         <attrib
               name="schema">
         </attrib>
         <attrib
               name="primkey-field">
         </attrib>
         <attrib
               name="use-soft-locking"
               type="bool">
         </attrib>
         <attrib
               name="message-selector">
         </attrib>
         <attrib
               name="acknowledge-mode" type="enum">
               <enumValues value="Auto-acknowledge"/>
               <enumValues value="Dups-ok-acknowledge"/>
         </attrib>
         <attrib
               name="destination-type" type="enum">
               <enumValues value="javax.jms.Queue"/>
               <enumValues value="javax.jms.Topic"/>
         </attrib>
         <attrib
               name="subscription-durability" type="enum">
               <enumValues value="Durable"/>
               <enumValues value="NonDurable"/>
         </attrib>
         <attrib
               name="remote-business-interface"
               type="javaType">
         </attrib>
         <attrib
               name="local-business-interface"
               type="javaType">
         </attrib>
      </AnnotationTagInfo>
      <AnnotationTagInfo tagSet="ejb" tagName="select" scope="method" multiplicity="*">
      	<attrib name="query" use="required"/>
      	<attrib name="result-type-mapping" type="enum">
      		<enumValues value="none"/>
      		<enumValues value="Local"/>
      		<enumValues value="Remote"/>
      	</attrib>
      </AnnotationTagInfo>
      <AnnotationTagInfo tagSet="ejb" tagName="ejb-external-ref" scope="type" multiplicity="*">
      	<attrib name="ref-name" use="required"/>
      	<attrib name="view-type" use="required" type="enum">
      		<enumValues value="local"/>
      		<enumValues value="remote"/>
      	</attrib>
      	<attrib name="link" use="required"/>
      	<attrib name="type" use="required" type="enum">
      		<enumValues value="Entity"/>
      		<enumValues value="Session"/>
      	</attrib>
      	<attrib name="home" type="javaType" use="required"/>
      	<attrib name="business" type="javaType" use="required"/>
      </AnnotationTagInfo>
      <AnnotationTagInfo
            tagSet="ejb"
            tagName="home-method"
            scope="method">
         <attrib
               name="view-type"
               description="ath.view-type.home-method"
               type="enum">
               <enumValues value="local"/>
               <enumValues value="remote"/>
         </attrib>
      </AnnotationTagInfo>
      <AnnotationTagInfo
            tagSet="ejb"
            tagName="interface-method"
            scope="method">
         <attrib
               name="view-type"
               description="ath.view-type.interface-method"
               type="enum">
               <enumValues value="local"/>
               <enumValues value="remote"/>
               <enumValues value="both"/>
         </attrib>
      </AnnotationTagInfo>
      <AnnotationTagInfo
            tagSet="ejb"
            tagName="create-method"
            scope="method">
         <attrib
               name="view-type"
               description="ath.view-type.create-method"
               type="enum">
               <enumValues value="local"/>
               <enumValues value="remote"/>
         </attrib>
      </AnnotationTagInfo>
      <AnnotationTagInfo
            tagSet="ejb"
            tagName="env-entry"
            scope="type" multiplicity="*">
            <attrib name="name" use="required">
            </attrib>
            <attrib name="description"/>
            <attrib name="type" type="enum">
            	<enumValues value="java.lang.Boolean"/>
            	<enumValues value="java.lang.Byte"/>
				<enumValues value="java.lang.Character"/>
				<enumValues value="java.lang.String"/>
				<enumValues value="java.lang.Short"/>
				<enumValues value="java.lang.Integer"/>
				<enumValues value="java.lang.Long"/>
				<enumValues value="java.lang.Float"/>
				<enumValues value="java.lang.Double"/>
			</attrib>
            <attrib name="value"/>
      </AnnotationTagInfo>
      <AnnotationTagInfo
            tagSet="ejb"
            tagName="ejb-ref"
            scope="type" multiplicity="*">
          	
          <attrib name="ejb-name" use="required"/>
          <attrib name="view-type" use="required" type="enum">
          	<enumValues value="local"/>
          	<enumValues value="remote"/>
          </attrib>
          <attrib name="ref-name"/>
      </AnnotationTagInfo>
      <AnnotationTagInfo
            tagSet="ejb"
            tagName="security-role-ref"
            scope="type" multiplicity="*">
         <attrib name="role-name" use="required"/>
         <attrib name="role-link" use="required"/>
      </AnnotationTagInfo>
      <AnnotationTagInfo
            tagSet="ejb"
            tagName="security-identity"
            scope="type">
         <attrib name="description"/>
         <attrib name="use-caller-identity" type="bool"/>
         <attrib name="run-as"/>
      </AnnotationTagInfo>
      <AnnotationTagInfo
            tagSet="ejb"
            tagName="resource-ref"
            scope="type" multiplicity="*">
         <attrib name="res-ref-name" use="required"/>
         <attrib name="res-type" use="required" type="javaType"/>
         <attrib name="res-auth" use="required" type="enum">
         	<enumValues value="Container"/>
         	<enumValues value="Application"/>
         </attrib>
         <attrib name="res-sharing-scope" type="enum">
         	<enumValues value="Shareable"/>
         	<enumValues value="Unshareable"/>
         </attrib>
         <attrib name="jndi-name"/>
      </AnnotationTagInfo>
      <AnnotationTagInfo
            tagSet="ejb"
            tagName="resource-env-ref"
            scope="type" multiplicity="*">
            <attrib name="name" use="required"/>
            <attrib name="type" use="required" type="javaType"/>
      </AnnotationTagInfo>
      <AnnotationTagInfo
            tagSet="ejb"
            tagName="interface"
            scope="type">
          <attrib name="extends"/>
          <attrib name="local-extends"/>
          <attrib name="generate" type="bool"/>
          <attrib name="remote-class"/>
          <attrib name="local-class"/>
          <attrib name="remote-pattern"/>
          <attrib name="local-pattern"/>
          <attrib name="pattern"/>
          <attrib name="remote-package"/>
          <attrib name="local-package"/>
          <attrib name="package"/>
      </AnnotationTagInfo>
      <AnnotationTagInfo
            tagSet="ejb"
            tagName="home"
            scope="type">
          <attrib name="extends"/>
          <attrib name="local-extends"/>
          <attrib name="generate" type="bool"/>
          <attrib name="remote-class"/>
          <attrib name="local-class"/>
          <attrib name="remote-pattern"/>
          <attrib name="local-pattern"/>
          <attrib name="pattern"/>
          <attrib name="remote-package"/>
          <attrib name="local-package"/>
          <attrib name="package"/>
      </AnnotationTagInfo>
      <AnnotationTagInfo
            tagSet="ejb"
            tagName="pk"
            scope="type">
         <attrib name="class" use="required"/>
         <attrib name="pattern"/>
         <attrib name="package"/>
         <attrib name="generate" type="bool"/>
         <attrib name="extends" type="javaType"/>
         <attrib name="implements" type="javaType"/>
         <attrib name="role-name"/>
         <attrib name="unchecked" type="bool"/>
         <attrib name="method-intf" type="enum">
         	<enumValues value="Home"/>
         	<enumValues value="LocalHome"/>
         </attrib>
      </AnnotationTagInfo>
      <AnnotationTagInfo
            tagSet="ejb"
            tagName="pk-field"
            scope="method">
      </AnnotationTagInfo>
      <AnnotationTagInfo
            tagSet="ejb"
            tagName="persistence"
            scope="type">
         <attrib name="table-name"/>
      </AnnotationTagInfo>
      <AnnotationTagInfo
            tagSet="ejb"
            tagName="persistence"
            scope="method">
          <attrib name="column-name"/>
          <attrib name="jdbc-type" type="enum">
          	<enumValues value="ARRAY"/>
          	<enumValues value="BIGINT"/>
          	<enumValues value="BINARY"/>
          	<enumValues value="BIT"/>
          	<enumValues value="BLOB"/>
          	<enumValues value="BOOLEAN"/>
          	<enumValues value="CHAR"/>
          	<enumValues value="CLOB"/>
          	<enumValues value="DATALINK"/>
          	<enumValues value="DATE"/>
          	<enumValues value="DECIMAL"/>
          	<enumValues value="DISTINCT"/>
          	<enumValues value="DOUBLE"/>
          	<enumValues value="FLOAT"/>
          	<enumValues value="INTEGER"/>
          	<enumValues value="JAVA_OBJECT"/>
          	<enumValues value="LONGVARBINARY"/>
          	<enumValues value="LONGVARCHAR"/>
          	<enumValues value="NULL"/>
          	<enumValues value="NUMERIC"/>
          	<enumValues value="OTHER"/>
          	<enumValues value="REAL"/>
          	<enumValues value="REF"/>
          	<enumValues value="SMALLINT"/>
          	<enumValues value="STRUCT"/>
          	<enumValues value="TIME"/>
          	<enumValues value="TIMESTAMP"/>
          	<enumValues value="TINYINT"/>
          	<enumValues value="VARBINARY"/>
          	<enumValues value="VARCHAR"/>
		  </attrib>
          <attrib name="sql-type"/>
          <attrib name="read-only"/>
      </AnnotationTagInfo>
      <AnnotationTagInfo
            tagSet="ejb"
            tagName="finder"
            scope="type"
            multiplicity="*">
          <attrib name="view-type" type="enum">
          	<enumValues value="local"/>
          	<enumValues value="remote"/>
          	<enumValues value="both"/>
          </attrib>
          <attrib name="description"/>
          <attrib name="signature" use="required"/>
          <attrib name="unchecked" type="bool"/>
          <attrib name="role-name"/>
          <attrib name="query" use="required"/>
          <attrib name="result-type-mapping" type="enum">
          	<enumValues value="none"/>
          	<enumValues value="Local"/>
          	<enumValues value="Remote"/>
          </attrib>
          <attrib name="transaction-type"/>
          <attrib name="method-intf" type="enum">
          	<enumValues value="Home"/>
          	<enumValues value="LocalHome"/>
          </attrib>
      </AnnotationTagInfo>
      <AnnotationTagInfo tagSet="ejb" tagName="transaction" scope="method">
      	<attrib name="type" use="required" type="enum">
      		<enumValues value="NotSupported"/>
      		<enumValues value="Supports"/>
      		<enumValues value="Required"/>
      		<enumValues value="RequiresNew"/>
      		<enumValues value="Mandatory"/>
      		<enumValues value="Never"/>
      	</attrib>
      </AnnotationTagInfo>
      <AnnotationTagInfo tagSet="ejb" tagName="transaction" scope="type">
      	<attrib name="type" use="required" type="enum">
      		<enumValues value="NotSupported"/>
      		<enumValues value="Supports"/>
      		<enumValues value="Required"/>
      		<enumValues value="RequiresNew"/>
      		<enumValues value="Mandatory"/>
      		<enumValues value="Never"/>
      	</attrib>
      </AnnotationTagInfo>
      <AnnotationTagInfo tagSet="ejb" tagName="facade-method" scope="method">
      	<attrib name="invalidate" type="bool"/>
      	<attrib name="cache" type="bool"/>
      	<attrib name="immutable" type="bool"/>
      </AnnotationTagInfo>
      <AnnotationTagInfo
      		tagSet="ejb"
      		tagName="util"
      		scope="type">
      		
      	  <attrib name="generate" use="required" type="enum">
      	  	<enumValues value="no"/>
      	  	<enumValues value="logical"/>
      	  	<enumValues value="physical"/>
      	  </attrib>
      </AnnotationTagInfo>
      <AnnotationTagInfo tagSet="ejb" tagName="facade" scope="type">
      	<attrib name="name"/>
      	<attrib name="description"/>
      	<attrib name="display-name"/>
      	<attrib name="small-icon"/>
      	<attrib name="large-icon"/>
      	<attrib name="jndi-name"/>
      	<attrib name="local-jndi-name"/>
      	<attrib name="view-type" type="enum">
      		<enumValues value="local"/>
      		<enumValues value="remote"/>
      		<enumValues value="both"/>
      	</attrib>
      	<attrib name="type" use="required" type="enum">
      		<enumValues value="Stateless"/>
      		<enumValues value="Stateful"/>
      	</attrib>
      	<attrib name="transaction-type" type="enum">
      		<enumValues value="Bean"/>
      		<enumValues value="Container"/>
      	</attrib>
      </AnnotationTagInfo>
      <AnnotationTagInfo tagSet="ejb" tagName="remote-facade" scope="type"/>
      <AnnotationTagInfo tagSet="ejb" tagName="permission" scope="method">
      	<attrib name="role-name"/>
      	<attrib name="unchecked" type="bool"/>
      </AnnotationTagInfo>
      <AnnotationTagInfo tagSet="ejb" tagName="permission" scope="type">
      	<attrib name="role-name"/>
      	<attrib name="unchecked" type="bool"/>
      </AnnotationTagInfo>
      
    </extension>

   <extension
         point="org.eclipse.jst.j2ee.ejb.annotations.ui.ProviderPreferenceMapping">
      <mapping
            name="XDoclet"
            preferencePage="org.eclipse.jst.j2ee.ejb.annotations.xdoclet.preference"/>
   </extension>
</plugin>
