<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

     <extension
         point="org.eclipse.emf.ecore.generated_package">
      <package
            class="org.eclipse.jem.internal.instantiation.InstantiationPackage"
            genModel="model/instance.genmodel"
            uri="http:///org/eclipse/jem/internal/instantiation.ecore">
      </package>
      <package
            class="org.eclipse.jem.java.JavaRefPackage"
            genModel="model/javaModel.genmodel"
            uri="java.xmi">
      </package>
   </extension>
   <extension
         point="org.eclipse.jem.beaninfo.registrations">
      <registration container="org.eclipse.jdt.launching.JRE_CONTAINER">
        <override
            package="java.lang"
            path="overrides/java/lang">
        </override>
        <override
            package="..ROOT.."
            path="overrides">
        </override>
      </registration>
   </extension>

</plugin>
