<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

     <extension
         point="org.eclipse.jdt.ui.javadocCompletionProcessor">
      <javadocCompletionProcessor
            name="%AnnotationsCompletionProcessor"
            class="org.eclipse.jst.common.internal.annotations.ui.AnnotationTagCompletionProc"
            id="AnnotationsCompletionProcessor">
      </javadocCompletionProcessor>
   </extension>

</plugin>
